.header {
  padding: 80px;
  text-align: center;
  color: #fff;
  background-color: #7fc5ff;
  background-size: cover;
  height: 421px;
  margin-bottom: 249px;
}

.header h1 {
  color: #fff;
  font-size: 40px;
  font-family: 'Abril Fatface';
}

.header img {
  margin-top: 10px;
  width: 40vw;
  height: 60vh;
}